* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #212121;
    --main-fg-color: #e8e8e8;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

header {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid var(--main-fg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--main-fg-color);
}

.modeButton {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    background-color: var(--main-fg-color);
    position: relative;
    transition: background-color .5s;
}

.mbSlider {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--main-bg-color);
    position: absolute;
    left: 5px;
    transition: left .5s, background-color .5s;
}

main {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}

.introduction {
    margin: 0 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--main-fg-color);
}

p {
    color: var(--main-fg-color);
}

h2 {
    margin: 16px 0;
    color: var(--main-fg-color);
}

.entry {
    display: none;
}

.entry p {
    line-height: 1.4;   /* might need to add this to the blockquotes, too */
}

blockquote {
    padding: 8px;
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
}